body {
  font: 100%/1.5 "Segoe UI", sans-serif;
  max-width: 960px;
  margin: 0 auto;
  margin-inline: max(1em, (100% - 100ch) / 2);
}

:root {
  --color-accent: oklch(95% 2% 200);
}

html {
  accent-color: var(--color-accent);
  color-scheme: light dark;
  
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  padding: 0.5em;
  margin-bottom: 0;
  border-bottom: 2px solid oklch(80% 3% 200 / 30%);
}

nav a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 0.5em 1em;
  font-weight: normal;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: oklch(80% 3% 200 / 40%);
  transition: background-color 0.3s, transform 0.3s;
  transform: scaleX(0);
  transform-origin: left;
}

nav a:hover,
nav a.current {
  font-weight: bold;
}

nav a:hover::after,
nav a.current::after {
  background-color: var(--color-accent);
  transform: scaleX(1);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em 1em;
  align-items: center;

  label {
    justify-self: end;
    font-weight: bold;
  }

  form input,
  form textarea {
    width: 100%;
    box-sizing: border-box;
    font: inherit;
  }

  form input[type="submit"],
  form input[type="reset"] {
    grid-column: 1 / -1;
    justify-self: start;
    padding: 0.5em 1em;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;

  article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;

    h2 {
      margin: 0;
      font-size: 150%;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
  text-wrap: balance;
}

main.resume {
  section {
    margin-bottom: 2em;

    h2 {
      font-size: 200%;
    }

    h3 {
      font-size: 130%;
    }

    article {
      display: grid;
      grid-template-rows: auto 1fr auto;
      gap: 0.5em;
      padding: 0.5em 0;
      border-bottom: 1px solid #ccc;

      h3 {
        margin: 0;
      }

      time {
        font-size: 0.9em;
        color: #555;
      }

      ul {
        padding-left: 1.2em;
        margin: 0.5em 0;
      }
    }
  }
}

.color-scheme {
  position: fixed;          /* stays on screen */
  top: 1em;
  right: 1em;
  font-weight: bold;
  font-family: inherit;
  font-size: 80%;
  z-index: 1000;            /* make sure it’s above other elements */
}

.color-scheme select {
  margin-left: 0.3em;
  font-size: 80%;
  font-family: inherit;
  padding: 0.2em;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  text-align: center;
}

#profile-stats dt {
  grid-row: 1;
  font-weight: bold;
}

#profile-stats dd {
  grid-row: 2;
  margin: 0;
}
